<div class="tControls">
  <div class="top">

	<button  class="btn" title="Mark all as read" alt="Mark all as read" >
		<i class="icon-plus"></i>
	</button>
	
    <button  class="btn" title="Mark all as read" alt="Mark all as read" disabled='disabled'>
		<i class="icon-edit"></i>
	</button>


	<button class="btn" title="Mark all as read" alt="Mark all as read" disabled='disabled'>
		<i class="icon-remove"></i>
	</button>
  </div>


<!-- for assets -->
  <div class="middle">
    <button  class="btn" ng-disabled="!items.hasPrev()" disabled='disabled'>
		<i class="icon-picture"></i>
	</button>
	<button class="btn" title="Mark all as read" alt="Mark all as read" 	disabled='disabled'>
		<i class="icon-remove"></i>
	</button>
  </div>


  <div class="bottom">
    <button  class="btn" title="Refresh feeds" alt="Refresh feeds">
      <i class="icon-refresh"></i>
    </button>
  </div>
</div>
